<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="aevatar" value="https://www.myget.org/F/aelf-project-dev/api/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="aevatar">
            <package pattern="Aevatar*" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>